* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  header {
    background-color: #f4f4f4;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  header nav a {
    text-decoration: none;
    color: black;
    padding-right: 250px;
    font-size: 20px;
    margin-left: 20px;
    text-decoration: none;
    color: black;
    position: relative;
    padding-bottom: 5px;
    transition: color 0.3s ease;
  }

  header nav a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    left: 0;
    bottom: 0;
    background-color: #3498db;
    transition: width 0.3s ease;
  }

  header nav a:hover {
    color: #3498db;
  }
  
  header nav a:hover::after {
    width: 100%; 
  }

  .logo {
    max-width: 150px;
  }
  
  main {
    background-color: #e0f7fa;
    padding: 40px;
    flex-grow: 1; 
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .main-text {
    font-size: 24px;
    max-width: 600px;
  }
  
  .main-image {
    width: 40vw; 
    height: 600px;
    object-fit: cover; 
  }
  
  .main-image, .heart-image {
    transition: transform 0.3s, opacity 0.3s; 
}

  .heart-image {
    display: block;
    margin-top: 20px;
    max-width: 100px;
  }
  
  footer {
    background-color: black;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-around;
  }
  
  footer .column {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  
  footer .column img {
    margin-right: 10px;
  }
  
  footer a {
    color: white;
    text-decoration: none;
  }
  
  /* Seção de Projetos */
.projects-content {
  background-color: #e0f7fa;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.project {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.project-image {
  width: 35%; 
  height: auto;
  object-fit: cover;
  transition: transform 0.3s;
}

.project-image:hover {
  transform: scale(1.1); 
}

.project-details {
  width: 45%; 
}

.project-details p {
  font-size: 24px;
  margin-bottom: 10px;
}

button {
  padding: 10px 15px;
  margin-right: 10px;
  background-color: #3498db;
  border: none;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button a {
  text-decoration: none;
  color: white;
}

button:hover {
  background-color: #2980b9;
}

/* Seção de Habilidades */
.skills-content {
  background-color: #e0f7fa; 
  padding: 60px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  height: 72vh;
}

.skills-section h3 {
  font-size: 28px;
  color: #2c3e50;
}

.skills-section ul {
  list-style: none;
  padding: 0;
}

.skills-section li {
  font-size: 22px;
  margin-bottom: 8px;
  color: #34495e;
}

/* Seção de Contato */
.contact-section {
  background-color: #e0f7fa;
  color: #000000;
  padding: 60px 40px;
  display: flex;
  justify-content: center;
  text-align: left;
  font-size: 38px;
  height: 700px;
}

.contact-icons {
  display: flex;
  justify-content: space-between;
  width: 70%;
}

.contact-icons .column {
  flex: 1;
  padding: 0 50px; 
}

.contact-icons p {
  margin-bottom: 50px; 
}


.contact-icons svg {
  margin-right: 8px;
}

.heart-icon {
  margin-top: 40px;
}

.heart-image {
  width: 100px; 
}

.contact-form {
  margin-top: 20px;
}

.contact-form h2 {
  margin-bottom: 15px;
}

.contact-form label {
  display: block;
  margin: 10px 0 5px;
}

.contact-form input, 
.contact-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contact-form button {
  margin-top: 10px;
  padding: 10px 15px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: #218838;
}

:root {
  --bg-color: #ffffff;
  --text-color: #000000;
  --header-bg-color: #ffffff;
  --footer-bg-color: #000000;
}

body.dark-mode {
  --bg-color: #121212;
  --text-color: #f4f4f4;
  --header-bg-color: #1f1f1f;
  --footer-bg-color: #1f1f1f;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}


footer {
  background-color: var(--footer-bg-color);
}

button#dark-mode-toggle {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

button#dark-mode-toggle:hover {
  background-color: #2980b9;
}

body.dark-mode main {
  background-color: #1a626b;
}

body.dark-mode nav a {
  color: #ffffff;
}

body.light-mode header {
  background-color: #f4f4f4;
}

body.dark-mode header {
  background-color: rgb(28, 27, 27);
  color: white;
}

/* Estilo para o botão de modo escuro na página Meus Projetos */
.dark-mode-btn-projects {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.dark-mode-projects {
  background-color: #333;
  color: #fff;
}

.dark-mode-projects body {
  background-color: #222;
  color: #fff;
}

.dark-mode-projects header {
  background-color: rgb(28, 27, 27);
  color: #ffffff;
}

.dark-mode-projects nav {
  color: #ffffff;
}

#dark-mode-btn-projects {
  margin-left: 1440px; 
  background-color: #3498db; 
  color: white; 
  border: none;
  padding: 10px;
  cursor: pointer;
}

body.dark-mode-projects header nav a {
  color: white;
}

body.dark-mode-projects header nav a:hover {
  color: #3498db; 
}

body.dark-mode-projects .projects-content {
  background-color: #1a626b;
}

.btn-project {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  margin-left: 1500px;
}

body.dark-mode section {
  background-color: #1a626b;
}